* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: linear-gradient(to right, rgb(196, 194, 194), rgb(34, 34, 34));
}

main {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 1rem;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.input span {
  margin-left: 5px;
  margin-bottom: 5px;
}

.input input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  align-self: center;
  margin-top: 1rem;
  transition: all .3s ease;
}

span {
  color: black;
}

.outros {
  margin-top: 10px;
}

button:hover {
  background-color: rgb(49, 48, 48);
  color: white;
  border: 3px solid rgb(49, 48, 48);
}